<h4>Closed  projects</h4>
<table class="table">
  <thead>
    <tr>
      <th>Dashboard name</th>
      <th>Project</th>
      <th>Administrators</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="">Bluebridge</a></td>
      <td>Manual</td>
      <td><a href="">Rostyslav Trotsyuk</a></td>
      <td class="text-center">
        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td>Bluebridge</td>
      <td>Manual</td>
      <td>Rostyslav Trotsyuk</td>
      <td></td>
    </tr>
    <tr>
      <td>Bluebridge</td>
      <td>Manual</td>
      <td>Rostyslav Trotsyuk</td>
      <td></td>
    </tr>
  </tbody>
</table>
