*database.properties
/gradlew
/gradlew.bat
/build
/out
/.idea
/gradle
/.gradle
/classes
*.iml
/src/main/webapp/scripts/vendors
/src/main/webapp/bower_components

#Remove a file from a Git repository without deleting it from the local filesystem
#git rm --cached mylogfile.log
#For a directory:
#git rm --cached -r mydirectory