<div class="modal-header">
    <h3 class="modal-title">Plugin config</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="story-points-name">Story Points Name:</label>
        <input type="text" class="form-control" id="story-points-name" ng-model="configData.storyPointsName">
        <p class="for-example">for example: Story Points</p>
    </div>
    <div class="form-group">
        <label for="agile-done-name">Agile Done Name:</label>
        <input type="text" class="form-control" id="agile-done-name" ng-model="configData.agileDoneName">
        <p class="for-example">for example: Done</p>
    </div>
    <div class="form-group">
        <label for="jira-dev-group-name">Jira Dev Group Name:</label>
        <input type="text" class="form-control" id="jira-dev-group-name" ng-model="configData.jiraDevGroupName">
        <p class="for-example">for example: jira-developers</p>
    </div>
    <div class="form-group">
        <label for="bug-name">Bug Name:</label>
        <input type="text" class="form-control" id="bug-name" ng-model="configData.bugName">
        <p class="for-example">for example: Bug</p>
    </div>
    <div class="form-group">
        <label for="non-working-days">Non Working Days:</label>
        <input type="text" class="form-control" id="non-working-days" ng-model="configData.nonWorkingDays">
        <p class="for-example">for example: 09/05/2015, 10/15/2015</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>