<table ng-show="data.length > 0" class="aui table">
    <thead>
        <tr>
            <th>
                <span>Label</span>
            </th>
            <th style="width: 200px;">
                <span>Status</span>
            </th>
            <th style="width: 250px;">
                <span>Last update</span>
            </th>
            <th style="width: 100px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="value in filtered = (data | filter:query | orderBy:predicate:reverse)">
            <td>{{value.label}}</td>
            <td>
                {{statusStyle = value.status === "DONE" ? "aui-lozenge-success" : value.status === "IN_PROGRESS" ? "aui-lozenge-current" : value.status === "ERROR" ? "aui-lozenge-error" : "aui-lozenge-complete"; ""}}
                <span class="aui-lozenge aui-lozenge-subtle {{statusStyle}}">{{value.status}}</span>
            </td>
            <td>
               <span ng-if="value.status === 'DONE'">{{value.lastUpdate | date:'MM/dd/yyyy HH:mm'}}</span>
               <span ng-if="value.status !== 'DONE'"> - </span>
            </td>
            <td style="text-align: center;">
                <span ng-if="value.status !== 'IN_PROGRESS' && indexInProgressData > $index || indexInProgressData === -1" ng-click="!hasInProgress ? startTask(value) : ''" id="task-start" class="aui-button" ng-disabled="hasInProgress ? 'disabled' : ''">Start</span>
                <span ng-if="indexInProgressData !== -1 && indexInProgressData < $index" class="aui-icon aui-icon-wait"></span>
            </td>
        </tr>
    </tbody>
</table>

<div class="col-md-12 text-center" ng-if="data.length === 0">
    <strong>Not found!</strong>
</div>
