<div class="modal-header">
  <h3 class="modal-title">Add experience</h3>
</div>
<form name="addExperienceForm" ng-submit="submit()" novalidate>
  <div class="modal-body">
      <div class="form-group" ng-class="{ 'has-error': addExperienceForm.$submitted || addExperienceForm.idTechnology.$touched && addExperienceForm.idTechnology.$invalid }">
          <label for="idTechnology">Name:</label>
          <select ui-select2 ng-model="model.idTechnology" data-placeholder="Select member" id="idTechnology" name="idTechnology" style="width: 100%;" required>
              <option value=""></option>
              <option ng-repeat="value in technologies" value="{{value.id}}">{{value.name}}</option>
          </select>
          <div class="help-block" ng-messages="addExperienceForm.idTechnology.$error" ng-if="addExperienceForm.idTechnology.$touched || addExperienceForm.$submitted">
              <p ng-message="required">Experience is required</p>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>
