<html>
<body>
<h3>Hi, ${newUser.fullName}! </h3>

<div>
    <p>You have been invited to Swan Jira Service by ${currentUserName}.</p>
        <br/>
    <p>Your credentionals:</p>
    <p>Username: ${newUser.username}</p>
    <p>Password: ${newUser.password}</p>
       <br/>
    <p>Yo can login and change your password at <a href="http://192.168.1.134:8080/#/login">this link</a>.</p>
    <br/>

</div>
</body>
</html>