<div id="report-element">
    <table class="report-element-table">
        <tr>
            <td class="report-element-table-chart">
                <div class="report-element-chart">
                    <center><h3 id="chart-title">{{showSprintName !== '' && showSprintName !== undefined ? showSprintName : 'Project to date'}}</h3></center>
                    <div ng-show="reportData.sprints.length > 0 && hasSprintTeam" id="chart-box">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-options="options"
                                chart-labels="labels" chart-legend="true" chart-series="series" chart-colours="colours">
                        </canvas>
                        <span ng-show="sprintShowOutOfRange" class="aui-lozenge aui-lozenge-moved">Show Out Of Range</span>
                    </div>
                    <center ng-show="reportData.sprints.length == 0 || !hasSprintTeam">Sprints not found</center>
                </div>
            </td>
            <td class="report-element-table-sprint">
                <div class="report-element-sprint-table">
                    <table ng-show="reportData.sprints.length > 0" class="aui table table-sprint">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                                <th colspan="3" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; color: #cccccc;">Velocity</th>
                                <th></th>
                                <th colspan="6" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; color: #cccccc;">QAT Defects</th>
                                <th></th>
                                <th colspan="6" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; color: #cccccc;">UAT Defects</th>
                            </tr>
                            <tr>
                                <th colspan="2">Sprint</th>
                                <th style="width: 50px;"></th>
                                <th style="width: 60px;">Target <br/> Points</th>
                                <th style="width: 60px;">Actual <br/> Points</th>
                                <th style="display: none;">Target <br/> Hours</th>
                                <th style="display: none;">Actual <br/> Hours</th>
                                <th style="width: 10px;"></th>
                                <th style="width: 25px;"></th>
                                <th style="width: 90px;">Target</th>
                                <th style="width: 60px;">Actual</th>
                                <th style="width: 50px;"></th>
                                <th style="width: 60px;">Target <br/> Hours</th>
                                <th style="width: 60px;">Actual <br/> Hours</th>
                                <th style="width: 10px;"></th>
                                <th style="width: 50px;"></th>
                                <th style="width: 60px;">Target</th>
                                <th style="width: 60px;">Actual</th>
                                <th style="width: 50px;"></th>
                                <th style="width: 60px;">Target <br/> Hours</th>
                                <th style="width: 60px;">Actual <br/> Hours</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="data in reportData.sprints">
                            <tr>
                                <td ng-click="showSprintDetails(data)"
                                    rowspan="{{(data.sprintTeam === undefined || data.sprintTeam.length === 0 && showSprintId === data.id) ? 2 : data.sprintTeam.length + 1}}"
                                    class="show-sprint-details-index text-center sprint-id sprint-{{data.state}} {{data.stateClass}} {{showSprintId == data.id ? 'open' : ''}}"
                                    style="width: 100px; cursor: pointer;"
                                    title="{{data.state}} sprint {{data.stateName}}">#{{$index + 1}}</td>
                                <td ng-click="showSprintDetails(data)"
                                    class="show-sprint-details"
                                    style="cursor: pointer;">
                                    <strong>Team Total <span ng-show="data.notCountTarget" class="aui-icon aui-icon-small aui-iconfont-error js-copy-clipboard" title="Not count target points/hours to Project total"></span></strong>
                                </td>
                                <td class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'iconsVelocity'"
                                               target="data.targetPoints"
                                               actual="data.actualPoints"></indicator>
                                </td>
                                <td class="text-center target-points">{{data.targetPoints}}</td>
                                <td class="text-center actual-points">{{data.actualPoints}}</td>
                                <td class="text-center target-hours" style="display: none;">{{data.targetHours}}</td>
                                <td class="text-center actual-hours" style="display: none;">{{data.actualHours}}</td>
                                <td></td>
                                <td class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'icons'"
                                               actual="data.actualQatDefectPoints"
                                               min="data.targetQatDefectMin"
                                               max="data.targetQatDefectMax"></indicator>
                                </td>
                                <td class="text-center" style="">{{data.targetQatDefectMin}} - {{data.targetQatDefectMax}}</td>
                                <td class="text-center">{{data.actualQatDefectPoints}}</td>
                                <td class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'iconsHours'"
                                               target="data.targetQatDefectHours"
                                               actual="data.actualQatDefectHours"></indicator>
                                </td>
                                <td class="text-center">{{data.targetQatDefectHours}}</td>
                                <td class="text-center">{{data.actualQatDefectHours}}</td>
                                <td></td>
                                <td ng-show="!data.showUat" colspan="6" class="text-center" style="border-right: 1px solid #dddddd;"> - </td>
                                <td ng-show="data.showUat" class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'icons'"
                                               actual="data.actualUatDefectPoints"
                                               min="data.targetUatDefectMin"
                                               max="data.targetUatDefectMax"></indicator>
                                </td>
                                <td ng-show="data.showUat" class="text-center" style="">{{data.targetUatDefectMin}} - {{data.targetUatDefectMax}}</td>
                                <td ng-show="data.showUat" class="text-center">{{data.actualUatDefectPoints}}</td>
                                <td ng-show="data.showUat" class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'iconsHours'"
                                               target="data.targetUatDefectHours"
                                               actual="data.actualUatDefectHours"></indicator>
                                </td>
                                <td ng-show="data.showUat" class="text-center">{{data.targetUatDefectHours}}</td>
                                <td ng-show="data.showUat" class="text-center" style="border-right: 1px solid #dddddd;">{{data.actualUatDefectHours}}</td>
                            </tr>

                            <tr ng-show="data.sprintTeam.length > 0 && showSprintId == data.id" ng-repeat="sprintTeam in data.sprintTeam" class="sprint-team-tr" data-id-sprint="{{sprintTeam.id}}" #if(!$velocityHasNext)style="border-bottom: 2px solid #cccccc;"#end>
                                <td ng-style="$last ? 'border-bottom: 1px solid red;' : 'border-bottom: 1px solid green;'">
                                    <span class="dev-name">{{sprintTeam.developerName}}</span>
                                </td>
                                <td class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'iconsVelocity'"
                                               target="sprintTeam.targetPoints"
                                               actual="sprintTeam.actualPoints"></indicator>
                                </td>
                                <td class="text-center">{{sprintTeam.targetPoints}}</td>
                                <td class="text-center">{{sprintTeam.actualPoints}}</td>
                                <td class="text-center"></td>
                                <td class="text-center indicators" style="width: 25px;">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'icons'"
                                               actual="sprintTeam.defectActual"
                                               min="sprintTeam.defectMin"
                                               max="sprintTeam.defectMax"></indicator>
                                </td>
                                <td class="text-center">{{sprintTeam.defectMin}} - {{sprintTeam.defectMax}}</td>
                                <td class="text-center">{{sprintTeam.defectActual}}</td>
                                <td class="text-center indicators" style="width: 50px;">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'iconsHours'"
                                               target="sprintTeam.defectTargetHours"
                                               actual="sprintTeam.defectActualHours"></indicator>
                                </td>
                                <td class="text-center">{{sprintTeam.defectTargetHours}}</td>
                                <td class="text-center">{{sprintTeam.defectActualHours}}</td>
                                <td class="text-center"></td>
                                <td ng-show="!data.showUat" colspan="6" class="text-center" style="border-right: 1px solid #dddddd;">-</td>
                                <td ng-show="data.showUat" class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'icons'"
                                               actual="sprintTeam.uatDefectActual"
                                               min="sprintTeam.uatDefectMin"
                                               max="sprintTeam.uatDefectMax"></indicator>
                                </td>
                                <td ng-show="data.showUat" class="text-center">{{sprintTeam.uatDefectMin}} - {{sprintTeam.uatDefectMax}}</td>
                                <td ng-show="data.showUat" class="text-center">{{sprintTeam.uatDefectActual}}</td>
                                <td ng-show="data.showUat" class="text-center indicators">
                                    <indicator ng-show="data.state === 'closed'"
                                               type="'iconsHours'"
                                               target="sprintTeam.uatDefectTargetHours"
                                               actual="sprintTeam.uatDefectActualHours"></indicator>
                                </td>
                                <td ng-show="data.showUat" class="text-center">{{sprintTeam.uatDefectTargetHours}}</td>
                                <td ng-show="data.showUat" class="text-center" style="border-right: 1px solid #dddddd;">{{sprintTeam.uatDefectActualHours}}</td>
                            </tr>

                            <tr ng-show="data.sprintTeam === undefined || data.sprintTeam.length === 0 && showSprintId === data.id" class="sprint-team-tr" data-id-sprint="{{sprintTeam.id}}" #if(!$velocityHasNext)style="border-bottom: 2px solid #cccccc;"#end>
                                <td colspan="19" class="text-center" style="border-right: 1px solid #dddddd;">
                                    Sprint team not configured
                                </td>
                            </tr>
                        </tbody>
                            <tr>
                                <td colspan="2"
                                    class="sprint-closed total"
                                    data-id-report="{{reportData.report.id}}"
                                    data-chart-label="{{reportChartData.label}}"
                                    data-chart-target="{{reportChartData.target}}"
                                    data-chart-actual="{{reportChartData.actual}}"><strong>Project total</strong></td>
                                <td class="text-center indicators">
                                    <indicator ng-show="closedSprintCount !== 0"
                                               type="'iconsVelocity'"
                                               target="reportData.report.targetPoints"
                                               actual="reportData.report.actualPoints"></indicator>
                                </td>
                                <td class="text-center total-target-points">{{reportData.report.targetPoints}}</td>
                                <td class="text-center total-actual-points">{{reportData.report.actualPoints}}</td>
                                <td class="text-center total-target-hours" style="display: none;">{{reportData.report.targetHours}}</td>
                                <td class="text-center total-actual-hours" style="display: none;">{{reportData.report.actualHours}}</td>
                                <td></td>
                                <td class="text-center indicators">
                                    <indicator ng-show="closedSprintCount !== 0"
                                               type="'icons'"
                                               actual="reportData.report.actualQatDefectPoints"
                                               min="reportData.report.targetQatDefectMin"
                                               max="reportData.report.targetQatDefectMax"></indicator>
                                </td>
                                <td class="text-center">{{reportData.report.targetQatDefectMin}} - {{reportData.report.targetQatDefectMax}}</td>
                                <td class="text-center">{{reportData.report.actualQatDefectPoints}}</td>
                                <td class="text-center indicators">
                                    <indicator ng-show="closedSprintCount !== 0"
                                               type="'iconsHours'"
                                               target="reportData.report.targetQatDefectHours"
                                               actual="reportData.report.actualQatDefectHours"></indicator>
                                </td>
                                <td class="text-center">{{reportData.report.targetQatDefectHours}}</td>
                                <td class="text-center">{{reportData.report.actualQatDefectHours}}</td>
                                <td></td>
                                <td ng-show="hideUatCount === reportData.sprints.length" colspan="6" class="text-center" style="border-right: 1px solid #dddddd;"> - </td>
                                <td ng-show="hideUatCount !== reportData.sprints.length" class="text-center indicators">
                                    <indicator ng-show="closedSprintCount !== 0"
                                               type="'icons'"
                                               actual="reportData.report.actualUatDefectPoints"
                                               min="reportData.report.targetUatDefectMin"
                                               max="reportData.report.targetUatDefectMax"></indicator>
                                </td>
                                <td ng-show="hideUatCount !== reportData.sprints.length" class="text-center">{{reportData.report.targetUatDefectMin}} - {{reportData.report.targetUatDefectMax}}</td>
                                <td ng-show="hideUatCount !== reportData.sprints.length" class="text-center">{{reportData.report.actualUatDefectPoints}}</td>
                                <td ng-show="hideUatCount !== reportData.sprints.length" class="text-center indicators">
                                    <indicator ng-show="closedSprintCount !== 0"
                                               type="'iconsHours'"
                                               target="reportData.report.targetUatDefectHours"
                                               actual="reportData.report.actualUatDefectHours"></indicator>
                                </td>
                                <td ng-show="hideUatCount !== reportData.sprints.length" class="text-center">{{reportData.report.targetUatDefectHours}}</td>
                                <td ng-show="hideUatCount !== reportData.sprints.length" class="text-center" style="border-right: 1px solid #dddddd;">{{reportData.report.actualUatDefectHours}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <center ng-show="reportData.sprints.length == 0">Sprints not found</center>
                    <h5 class="note-name">Designation icons:</h5>
                    <ul class="note">
                        <li>
                            <span class="star-five"></span> <span class="note-descr">better than target range</span>
                        </li>
                        <li>
                            <span class="circle green"></span> <span class="note-descr">within target range</span>
                        </li>
                        <li>
                            <span class="circle yellow"></span> <span class="note-descr">within 10% of target range</span>
                        </li>
                        <li>
                            <span class="circle red"></span> <span class="note-descr">outside 10% of targed range</span>
                        </li>
                    </ul>
                </div>
                <div class="comments" ng-controller="CommentCtrl">
                    <h5 class="comments-title" title="Show/hide comments" ng-click="toggleComments()">
                        Project Comments
                        <span ng-show="comments.length > 0" id="comment-count">({{comments.length}})</span>
                        <span class="{{commentsHide ? 'aui-icon aui-icon-small aui-iconfont-arrows-down js-copy-clipboard' : 'aui-icon aui-icon-small aui-iconfont-arrows-up js-copy-clipboard'}}"></span>
                    </h5>
                    <div class="comments-box" ng-hide="commentsHide">
                        <div class="aui">
                            <form name="processCommentForm" ng-submit="submit()" novalidate>
                                <textarea ng-model="modelComments.text" class="comments-data textarea" name="commentsData" id="commentsData" placeholder="Your comment here..." rows="5" cols="50" required></textarea>
                                <p>
                                    <button class="aui-button add-comment" type="submit" ng-click="addComment()">Add comment</button>
                                </p>
                            </form>
                        </div>
                        <div class="comments-all">
                            <div ng-include="'views/report_element/comments.html'"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div style="width: 100%;">
    <div class="aui-navgroup-horizontal">
        <center><h3 style="margin-top: 10px;">Project Progress Bar</h3></center>
    </div>

    <table ng-show="reportData.sprints.length > 0 && hasSprintTeam" class="aui table table-sprint" style="width: 800px; margin: 20px auto;">
        <thead>
            <tr>
                <td></td>
                <td ng-repeat="data in reportData.sprints" style="border-left: 1px solid #dddddd; min-width: 100px; text-align: center;" class="{{data.stateClass}}">
                    {{data.endDate ? (data.endDate | date:'MM/dd/yyyy') : '-'}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3" style="border-left: 1px solid #dddddd; background-color: #F0F0F0; margin: 0; padding: 0; width: 10px;">
                    <div style="-moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); position: relative;">
                        Points
                    </div>
                </td>
                <td ng-repeat="data in reportData.sprints" style="{{!$last ? 'text-align: center; border-left: 1px solid #dddddd;' : 'text-align: center; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd;'}}">{{data.actualPoints}}</td>
            </tr>
            <tr>
                <td colspan="{{reportData.sprints.length}}" class="tr-for-progress-bar">
                    <div class="progress-bar-box">
                        <div id="points-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{progressBarData.percentPoints}}%">
                            <div class="progress-bar-content">&nbsp;</div>
                        </div>
                        <div id="points-progress-bar-percent">{{progressBarData.actualPoints}}/{{progressBarData.percentPoints}}%</div>
                    </div>
                    <div id="points-progress-bar-total">{{progressBarData.targetPoints}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="reportData.sprints.length > 0 && hasSprintTeam" class="aui table table-sprint" style="width: 800px; margin: 20px auto;">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3" style="border-left: 1px solid #dddddd; background-color: #F0F0F0; margin: 0; padding: 0; width: 10px;">
                    <div style="-moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); position: relative;">
                        Hours
                    </div>
                </td>
                <td ng-repeat="data in reportData.sprints" style="{{!$last ? 'text-align: center; border-left: 1px solid #dddddd; min-width: 100px;' : 'text-align: center; border-left: 1px solid #dddddd; min-width: 100px; border-right: 1px solid #dddddd;'}}">{{data.actualHours}}</td>
            </tr>
            <tr>
                <td colspan="{{reportData.sprints.length}}" class="tr-for-progress-bar">
                    <div class="progress-bar-box">
                        <div id="hours-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{progressBarData.percentHours}}%;">
                            <div class="progress-bar-content">&nbsp;</div>
                        </div>
                        <div id="hours-progress-bar-percent">{{progressBarData.actualHours}}/{{progressBarData.percentHours}}%</div>
                    </div>
                    <div id="hours-progress-bar-total">{{progressBarData.targetHours}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <center ng-show="reportData.sprints.length == 0 || !hasSprintTeam">Sprints not found</center>
</div>
