<tr>
    <td>
        <span class="dev-name">{{data}}</span>
    </td>
</tr>




<!--<tr ng-show="showSprintDetailsData && data.sprintTeam.length > 0" ng-repeat="dataSprint in data.sprintTeam" class="sprint-team-tr" data-id-sprint="{{dataSprint.id}}" #if(!$velocityHasNext)style="border-bottom: 2px solid #cccccc;"#end>-->
    <!--<td>-->
        <!--<span class="dev-name">{{dataSprint.displayName}}</span>-->
    <!--</td>-->
    <!--<td class="text-center indicators">-->
        <!--&lt;!&ndash;#if($state == "closed")&ndash;&gt;-->
            <!--&lt;!&ndash;#set($actualHours = dataSprint.actualPoints)&ndash;&gt;-->
            <!--&lt;!&ndash;#set($targetHours = dataSprint.targetPoints)&ndash;&gt;-->
            <!--&lt;!&ndash;#parse("/templates/report/iconsVelocity.vm")&ndash;&gt;-->
        <!--&lt;!&ndash;#end&ndash;&gt;-->
    <!--</td>-->
    <!--<td class="text-center">dataSprint.targetPoints</td>-->
    <!--<td class="text-center">dataSprint.actualPoints</td>-->
    <!--<td class="text-center"></td>-->
    <!--<td class="text-center indicators" style="width: 25px;">-->
        <!--&lt;!&ndash;#if($state == "closed")&ndash;&gt;-->
            <!--&lt;!&ndash;#set($actualDefects = dataSprint.defectActual)&ndash;&gt;-->
            <!--&lt;!&ndash;#set($defMin = dataSprint.defectMin)&ndash;&gt;-->
            <!--&lt;!&ndash;#set($defMax = dataSprint.defectMax)&ndash;&gt;-->
            <!--&lt;!&ndash;#parse("/templates/report/icons.vm")&ndash;&gt;-->
        <!--&lt;!&ndash;#end&ndash;&gt;-->
    <!--</td>-->
    <!--<td class="text-center">dataSprint.defectMin - dataSprint.defectMax</td>-->
    <!--<td class="text-center">dataSprint.defectActual</td>-->
    <!--<td class="text-center indicators" style="width: 50px;">-->
        <!--&lt;!&ndash;#if($state == "closed")&ndash;&gt;-->
            <!--&lt;!&ndash;#set($actualHours = dataSprint.defectActualHours)&ndash;&gt;-->
            <!--&lt;!&ndash;#set($targetHours = dataSprint.defectTargetHours)&ndash;&gt;-->
            <!--&lt;!&ndash;#parse("/templates/report/iconsHours.vm")&ndash;&gt;-->
        <!--&lt;!&ndash;#end&ndash;&gt;-->
    <!--</td>-->
    <!--<td class="text-center">dataSprint.defectTargetHours</td>-->
    <!--<td class="text-center">dataSprint.defectActualHours</td>-->
    <!--<td class="text-center"></td>-->
    <!--<td ng-show="data.showUat !== 1" colspan="6" class="text-center" style="border-right: 1px solid #dddddd;">-</td>-->
    <!--<td ng-show="data.showUat === 1" class="text-center indicators">-->
        <!--&lt;!&ndash;#if($state == "closed")&ndash;&gt;-->
            <!--&lt;!&ndash;#set($actualDefects = dataSprint.uatDefectActual)&ndash;&gt;-->
            <!--&lt;!&ndash;#set($defMin = dataSprint.uatDefectMin)&ndash;&gt;-->
            <!--&lt;!&ndash;#set($defMax = dataSprint.uatDefectMax)&ndash;&gt;-->
            <!--&lt;!&ndash;#parse("/templates/report/icons.vm")&ndash;&gt;-->
        <!--&lt;!&ndash;#end&ndash;&gt;-->
    <!--</td>-->
    <!--<td ng-show="data.showUat === 1" class="text-center">dataSprint.uatDefectMin - dataSprint.uatDefectMax</td>-->
    <!--<td ng-show="data.showUat === 1" class="text-center">dataSprint.uatDefectActual</td>-->
    <!--<td ng-show="data.showUat === 1" class="text-center indicators">-->
        <!--&lt;!&ndash;#if($state == "closed")&ndash;&gt;-->
            <!--&lt;!&ndash;#set($actualHours = dataSprint.uatDefectActualHours)&ndash;&gt;-->
            <!--&lt;!&ndash;#set($targetHours = dataSprint.uatDefectTargetHours)&ndash;&gt;-->
            <!--&lt;!&ndash;#parse("/templates/report/iconsHours.vm")&ndash;&gt;-->
        <!--&lt;!&ndash;#end&ndash;&gt;-->
    <!--</td>-->
    <!--<td ng-show="data.showUat === 1" class="text-center">dataSprint.uatDefectTargetHours</td>-->
    <!--<td ng-show="data.showUat === 1" class="text-center" style="border-right: 1px solid #dddddd;">dataSprint.uatDefectActualHours</td>-->
<!--</tr>-->


<!--<tr ng-show="showSprintDetailsData && (!data.sprintTeam || data.sprintTeam.length === 0)" class="sprint-team-tr" data-id-sprint="$idSprint">-->
    <!--<td colspan="18" style="border-right: 1px solid #dddddd;">-->
        <!--<div class="team-not-configured">Team not configured!  {{showSprintDetailsData}} {{data}}</div>-->
    <!--</td>-->
<!--</tr>-->
