<tr ng-show="showSprintDetailsData && data.sprintDevelopers.length > 0" ng-repeat="dataSprint in data.sprintDevelopers" class="sprint-team-tr" data-id-sprint="{{dataSprint.id}}" #if(!$velocityHasNext)style="border-bottom: 2px solid #cccccc;"#end>
    <td>
        <span class="dev-name">{{dataSprint.displayName}}</span>
    </td>
    <td class="text-center indicators">
        <!--#if($state == "closed")-->
            <!--#set($actualHours = dataSprint.actualPoints)-->
            <!--#set($targetHours = dataSprint.targetPoints)-->
            <!--#parse("/templates/report/iconsVelocity.vm")-->
        <!--#end-->
    </td>
    <td class="text-center">dataSprint.targetPoints</td>
    <td class="text-center">dataSprint.actualPoints</td>
    <td class="text-center"></td>
    <td class="text-center indicators" style="width: 25px;">
        <!--#if($state == "closed")-->
            <!--#set($actualDefects = dataSprint.defectActual)-->
            <!--#set($defMin = dataSprint.defectMin)-->
            <!--#set($defMax = dataSprint.defectMax)-->
            <!--#parse("/templates/report/icons.vm")-->
        <!--#end-->
    </td>
    <td class="text-center">dataSprint.defectMin - dataSprint.defectMax</td>
    <td class="text-center">dataSprint.defectActual</td>
    <td class="text-center indicators" style="width: 50px;">
        <!--#if($state == "closed")-->
            <!--#set($actualHours = dataSprint.defectActualHours)-->
            <!--#set($targetHours = dataSprint.defectTargetHours)-->
            <!--#parse("/templates/report/iconsHours.vm")-->
        <!--#end-->
    </td>
    <td class="text-center">dataSprint.defectTargetHours</td>
    <td class="text-center">dataSprint.defectActualHours</td>
    <td class="text-center"></td>
    <td ng-show="data.showUat !== 1" colspan="6" class="text-center" style="border-right: 1px solid #dddddd;">-</td>
    <td ng-show="data.showUat === 1" class="text-center indicators">
        <!--#if($state == "closed")-->
            <!--#set($actualDefects = dataSprint.uatDefectActual)-->
            <!--#set($defMin = dataSprint.uatDefectMin)-->
            <!--#set($defMax = dataSprint.uatDefectMax)-->
            <!--#parse("/templates/report/icons.vm")-->
        <!--#end-->
    </td>
    <td ng-show="data.showUat === 1" class="text-center">dataSprint.uatDefectMin - dataSprint.uatDefectMax</td>
    <td ng-show="data.showUat === 1" class="text-center">dataSprint.uatDefectActual</td>
    <td ng-show="data.showUat === 1" class="text-center indicators">
        <!--#if($state == "closed")-->
            <!--#set($actualHours = dataSprint.uatDefectActualHours)-->
            <!--#set($targetHours = dataSprint.uatDefectTargetHours)-->
            <!--#parse("/templates/report/iconsHours.vm")-->
        <!--#end-->
    </td>
    <td ng-show="data.showUat === 1" class="text-center">dataSprint.uatDefectTargetHours</td>
    <td ng-show="data.showUat === 1" class="text-center" style="border-right: 1px solid #dddddd;">dataSprint.uatDefectActualHours</td>
</tr>


<tr ng-show="showSprintDetailsData && (!data.sprintDevelopers || data.sprintDevelopers.length === 0)" class="sprint-team-tr" data-id-sprint="$idSprint">
    <td colspan="18" style="border-right: 1px solid #dddddd;">
        <div class="team-not-configured">Team not configured!  {{showSprintDetailsData}} {{data}}</div>
    </td>
</tr>
