<div class="container" style="width: 400px;">
  <legend>Login</legend>
  <form name="loginForm" ng-submit="submit()" novalidate>
    <div class="help-block" ng-if="loginError.status">
        <div class="alert alert-danger text-center" role="alert"><strong>Error:</strong> {{loginError.message}}</div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': loginForm.$submitted && loginForm.username.$invalid }">
      <label fors="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="user.username" required>
      <div class="help-block" ng-messages="loginForm.username.$error" ng-if="loginForm.$submitted && loginForm.username.$invalid">
        <p ng-message="required">Username is required</p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': loginForm.$submitted && loginForm.password.$invalid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required>
      <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted && loginForm.password.$invalid">
        <p ng-message="required">Password is required</p>
      </div>
    </div>
    <button type="submit" ng-click="login()" class="btn btn-primary">Login</button>
  </form>
</div>
