<header id="ghx-header" class="aui-page-header">
    <title>Resource Board</title>
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h2>Resource Board</h2>
        </div>
        <div class="aui-page-header-actions">
            <button class="btn btn-primary" type="submit" ng-click="processColumn()">Add column</button>
            <button ng-if="columns && columns.length > 0" class="btn btn-primary" type="submit" ng-click="addMember()">Add member</button>
        </div>
    </div>
</header>
<div class="aui-page-panel" id="manage-boards-page">
    <div class="res">
        <div class="res-left">
            <div class="res-left-content">

                <div ng-if="showResourceLoader" class="resource-loader-box">
                    <div class="resource-loader-msg">Loading ...</div>
                </div>

                <div class="res-left-content-center">
                    <ul ng-if="!loaderShow" class="main"
                        ng-style="{width: columns.length*240}">
                        <li ng-repeat="column in columns"
                            class="main grey"
                            ng-class="{'selected': columns.selected === column}">

                            <h4 class="column-h4">
                                <!--<a href="#" editable-text="listName">{{ listName || 'empty' }}</a>-->
                                {{::column.name}} <span class="member-count">(<span ng-if="isSearch">{{column.membersCount}} of </span>{{column.allMembersCount}})</span>

                                <div class="controls" >
                                    <span ng-if="!column.fixed" ng-click="delColumn(column)" class="glyphicon glyphicon-remove control-icon" title="Delete"></span>
                                    <span ng-click="processColumn(column)" class="glyphicon glyphicon-pencil control-icon" title="Edit"></span>
                                </div>
                            </h4>
                        </li>
                    </ul>
                    <ul ng-if="!loaderShow" class="main"
                        dnd-list="columns"
                        dnd-allowed-types="['column']"
                        dnd-horizontal-list="true"
                        dnd-external-sources="true"
                        ng-style="{width: columns.length*240}">
                        <li ng-repeat="column in columns"
                            class="main grey"
                            dnd-draggable="column"
                            dnd-type="'column'"
                            dnd-effect-allowed="copyMove"
                            dnd-moved="columns.splice($index, 1)"
                            dnd-dragend="dragendAssignmentType()"
                            ng-class="{'selected': columns.selected === column}">

                            <div style="height: 100%;" ng-include="'scripts/controllers/resource_management/members.html'"></div>
                        </li>
                    </ul>

                    <div ng-show="loaderShow" class="text-center"><span class="aui-icon aui-icon-wait">Loading...</span></div>
                </div>
            </div>
        </div>
        <div class="res-right">
            <div class="search-block" ng-if="showSearch" ng-include="'scripts/controllers/resource_management/search.html'"></div>
            <div class="member-info-block" ng-if="showMemberInfo" ng-include="'scripts/controllers/resource_management/member_info.html'"></div>
        </div>
    </div>
</div>