<form class="aui">
    <div class="autofill-box">
        <span ng-show="showAutoFillData.showAutoFillLabel" class="aui-lozenge aui-lozenge-current">Autofill {{showAutoFillData.sprintName}}</span>
    </div>
    <div id="sprint-autofill-box">
        <div>
            Sprint type:
            <select ng-model="reportModel.sprint.type" id="sprint-type" name="sprint-type" class="select sprint-type" convert-to-number>
                <option value="0">Standard</option>
                <option value="1">Additional blue</option>
                <option value="2">Additional red</option>
            </select>
            <p class="sprint-note-text">
                * Additional sprint - if sprint was added after finishing the jiraProject
            </p>
            <p class="sprint-note-text">
                Blue - additional sprint for scope changed. Red - additional unpaid sprint
            </p>
        </div>
        <div style="margin-top: 15px;">
            <input ng-model="reportModel.sprint.notCountTarget" name="not-count-target" id="not-count-target" type="checkbox"/>
            <label for="not-count-target" style="color: #000000;">Not count target</label>
            <p class="sprint-note-text">* If checked then do not add target points/hours to Project total</p>
        </div>
        <div style="margin-top: 15px;">
            <input ng-model="reportModel.sprint.showUat" ng-change="calcParams()" name="show-uat-sprint" id="show-uat-sprint" type="checkbox"/>
            <label for="show-uat-sprint" style="color: #000000;">UAT</label>
            <p class="sprint-note-text">* If checked then show UAT Defects</p>
        </div>

        <hr/>
        <div ng-show="sprintTeams.length > 0" id="has-sprint-team-data" style="display: none"></div>
        <table class="aui table table-preview-details" style="width: inherit;">
            <thead>
                <tr>
                    <th style="width: 300px;" class="border-right-2">Developer</th>
                    <th style="width: 150px;" class="border-right-2">Engineer Level</th>
                    <th style="width: 150px;" class="border-right-2">Participation Level</th>
                    <th style="width: 300px;">Days in Sprint</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="sprintTeams.length > 0" ng-repeat="data in sprintTeams" class="configure-dev-row" data-id="{{data.id}}">
                    <td class="border-right-2">
                        <select ui-select2 ng-model="data.developerLogin" class="developer-name" disabled>
                            <option ng-repeat="dataUser in devUsers" value="{{dataUser.login}}">{{dataUser.fullName}}</option>
                        </select>
                        <span class="aui-button delete-developer" data-id="{{data.id}}" ng-click="deleteDeveloper(data.developerLogin)">Delete</span>
                    </td>
                    <td class="border-right-2">
                        <select ng-change="calcParams()" class="select engineer-lvl" ng-model="data.engineerLevel" convert-to-number>
                            <option ng-repeat="engLvl in [1, 2, 3, 4]" value="{{engLvl}}">EL{{engLvl}}</option>
                        </select>
                    </td>
                    <td class="border-right-2">
                        <select ng-change="calcParams()" class="select participation-lvl" ng-model="data.participationLevel" convert-to-double>
                            <option value="1">1.0</option>
                            <option value="0.9">0.9</option>
                            <option value="0.8">0.8</option>
                            <option value="0.7">0.7</option>
                            <option value="0.6">0.6</option>
                            <option value="0.5">0.5</option>
                            <option value="0.4">0.4</option>
                            <option value="0.3">0.3</option>
                            <option value="0.2">0.2</option>
                            <option value="0.1">0.1</option>
                        </select>
                    </td>
                    <td>
                        <input ng-change="calcParams()" type="number" min="1" step="1" name="days-in-sprint" class="text days-in-sprint" ng-model="data.daysInSprint"/>
                        <span ng-show="report.typeId === 2 && data.id" ng-click="dlgSprintTeamActivity(reportModel.sprint, data)" class="aui-button sprint-team-activity" style="margin-left: 10px;">Activity</span>
                    </td>
                </tr>
                <tr>
                    <td class="border-right-2">
                        <select ui-select2 class="developer-name" ng-model="dataDeveloper" style="width: 180px; margin-right: 5px;">
                            <option value="">Add ...</option>
                            <option ng-repeat="dataUser in devUsersForAdd" value="{{dataUser}}" style="float: left;">{{dataUser.fullName}}</option>
                        </select>
                        <span ng-disabled="!dataDeveloper || dataDeveloper === ''"
                              ng-click="dataDeveloper && dataDeveloper !== '' ? addDeveloper(dataDeveloper) : ''"
                              id="add-sprint-team" class="aui-button">Add</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr/>
        <div><strong>Preview details</strong></div>
        <div>
            <div ng-show="!sprintTeams || sprintTeams.length === 0">
                <p class="text-center">Data not found</p>
            </div>

            <table class="aui table table-preview-details" ng-hide="sprintTeams && sprintTeams.length === 0">
                <thead>
                    <tr>
                        <th colspan="5"></th>
                        <th colspan="3" class="text-center" style="border-left: 1px solid #cccccc">QAT</th>
                        <th ng-hide="!reportModel.sprint.showUat" colspan="3" class="text-center uat-element" style="border-left: 1px solid #cccccc">UAT</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="text-center">Daily Velocity</th>
                        <th class="text-center">Participation Level</th>
                        <th class="text-center">Days in Sprint</th>
                        <th class="text-center">Target Points</th>
                        <th class="text-center" style="display: none;">Target Hours</th>

                        <th class="text-center" style="border-left: 1px solid #cccccc">Defects Min</th>
                        <th class="text-center">Defects Max</th>
                        <th class="text-center">Defects Hours</th>

                        <th ng-hide="!reportModel.sprint.showUat" class="text-center uat-element" style="border-left: 1px solid #cccccc">Defects Min</th>
                        <th ng-hide="!reportModel.sprint.showUat" class="text-center uat-element">Defects Max</th>
                        <th ng-hide="!reportModel.sprint.showUat" class="text-center uat-element">Defects Hours</th>
                    </tr>
                </thead>
                <tbody>

                <tr ng-repeat="data in sprintTeams" class="table-preview-details-row" data-id="{{data.id}}">
                    <td class="dev-name">
                        {{data.developerName}}
                    </td>
                    <td class="engineer-lvl text-center">{{data.engineerLevel === '4' ? '3' : data.engineerLevel}}</td>
                    <td class="participation-lvl text-center">{{data.participationLevel | number:1}}</td>
                    <td class="days-in-sprint text-center">{{data.daysInSprint}}</td>

                    <td class="target-points text-center">{{data.targetPoints}}</td>
                    <td class="target-hours text-center" style="display: none;">{{data.targetHours}}</td>

                    <td class="defect-min text-center" style="border-left: 1px solid #cccccc">{{data.defectMin}}</td>
                    <td class="defect-max text-center">{{data.defectMax}}</td>
                    <td class="defect-hours text-center">{{data.defectHours}}</td>

                    <td ng-hide="!reportModel.sprint.showUat" class="uat-defect-min text-center uat-element" style="border-left: 1px solid #cccccc">{{data.uatDefectMin}}</td>
                    <td ng-hide="!reportModel.sprint.showUat" class="uat-defect-max text-center uat-element">{{data.uatDefectMax}}</td>
                    <td ng-hide="!reportModel.sprint.showUat" class="uat-defect-hours text-center uat-element">{{data.uatDefectHours}}</td>
                </tr>
                <tr class="table-preview-details-row-total">
                    <td>Total</td>
                    <td class="engineer-lvl-total text-center">{{totalPreviewDetails.engineerLevel}}</td>
                    <td class="participation-lvl-total text-center"></td>
                    <td class="days-in-sprint-total text-center"></td>

                    <td class="target-points-total text-center">{{totalPreviewDetails.targetPoints}}</td>
                    <td class="target-hours-total text-center" style="display: none;">{{totalPreviewDetails.targetHours}}</td>

                    <td class="defect-min-total text-center" style="border-left: 1px solid #cccccc">{{totalPreviewDetails.defectMin}}</td>
                    <td class="defect-max-total text-center">{{totalPreviewDetails.defectMax}}</td>
                    <td class="defect-hours-total text-center">{{totalPreviewDetails.defectHours}}</td>

                    <td ng-hide="!reportModel.sprint.showUat" class="uat-defect-min-total text-center uat-element" style="border-left: 1px solid #cccccc">{{totalPreviewDetails.uatDefectMin}}</td>
                    <td ng-hide="!reportModel.sprint.showUat" class="uat-defect-max-total text-center uat-element">{{totalPreviewDetails.uatDefectMax}}</td>
                    <td ng-hide="!reportModel.sprint.showUat" class="uat-defect-hours-total text-center uat-element">{{totalPreviewDetails.uatDefectHours}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>