<header id="ghx-header" class="aui-page-header">
    <title>Project Board</title>
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h2>Project Board</h2>
        </div>
        <div class="aui-page-header-actions">
            <button class="btn btn-primary" type="submit" ng-click="processProject()">Add project</button>
        </div>
    </div>
</header>
<div class="aui-page-panel" id="manage-boards-page">
    <div class="res">
        <div class="res-left">
            <!--<div class="res-left-head">add column</div>-->
            <div class="res-left-content">

                <!--<div class="res-left-content-center">-->
                    <!--<ul class="main"-->
                        <!--dnd-list="columns"-->
                        <!--dnd-allowed-types="['column']"-->
                        <!--dnd-horizontal-list="true"-->
                        <!--dnd-external-sources="true"-->
                        <!--ng-style="{width: columns.length*240}">-->
                        <!--<li ng-repeat="column in columns"-->
                            <!--class="main grey project-box"-->
                            <!--ng-class="{'selected': columns.selected === column}">-->

                            <!--<h4 class="column-h4">-->
                                <!--{{column.title}} &lt;!&ndash;<span class="count-users">(count: {{column.users.length}})</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span ng-if="!column.fixed" ng-click="delProject(column)" class="glyphicon glyphicon-remove control-icon" title="Delete"></span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span ng-click="processProject(column)" class="glyphicon glyphicon-pencil control-icon" title="Edit"></span>&ndash;&gt;-->
                            <!--</h4>-->

                            <!--<div style="height: 100%;" ng-include="'scripts/controllers/project_management/projects.html'"></div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

                <div class="res-left-content-center">
                    <ul class="main"
                        dnd-list="columns"
                        dnd-allowed-types="['column']"
                        dnd-horizontal-list="true"
                        dnd-external-sources="true"
                        ng-style="{width: columns.length*240}">
                        <li ng-repeat="column in columns"
                            class="main grey project-box"
                            dnd-draggable="column"
                            dnd-type="'column'"
                            dnd-effect-allowed="copyMove"
                            dnd-moved="columns.splice($index, 1)"
                            dnd-dragend="dragendProject()"
                            ng-class="{'selected': columns.selected === column}">

                            <h4 class="column-h4">
                                {{column.title}} <!--<span class="count-users">(count: {{column.users.length}})</span>-->
                                <span ng-if="!column.fixed" ng-click="delProject(column)" class="glyphicon glyphicon-remove control-icon" title="Delete"></span>
                                <span ng-click="processProject(column)" class="glyphicon glyphicon-pencil control-icon" title="Edit"></span>
                            </h4>

                            <div style="height: 100%;" ng-include="'scripts/controllers/project_management/projects.html'"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="res-right">
            <div class="search-block" ng-if="showSearch" ng-include="'scripts/controllers/project_management/search.html'"></div>
            <div class="member-info-block" ng-if="showProjectInfo" ng-include="'scripts/controllers/project_management/project_info.html'"></div>
        </div>
    </div>
</div>