<!--<ul dnd-list="column.users"-->
    <!--dnd-allowed-types="['user']"-->
    <!--class="item projects">-->
    <!--<li ng-repeat="item in column.users"-->
        <!--ng-class="{'selected': columns.selected === column}"-->
        <!--ng-style="{background: lightColor(item.color, 0.4), border: '2px solid {{item.color}}'}">-->

        <!--<div class="projects-item-box">-->
            <!--<div class="row margin-0">-->
                <!--<div class="col-md-2 avatar">-->
                    <!--<img ng-if="item.avatar !== undefined && item.avatar !== '' && item.avatar !== null" ng-src="{{item.avatar}}" alt="{{item.name}}" class="avatar">-->
                    <!--<span ng-if="item.avatar === undefined || item.avatar === '' || item.avatar === null" class="glyphicon glyphicon-user"></span>-->
                <!--</div>-->
                <!--<div class="col-md-10">-->
                    <!--<div class="name-label">{{item.name}} EL - {{item.engineerLevel}}</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</li>-->
    <!--<p ng-if="column.users === undefined || column.users.length === 0" class="column-empty">Project is empty</p>-->
<!--</ul>-->

<ul dnd-list="column.users"
    dnd-allowed-types="['user']"
    dnd-dragover="dragoverCallback(event, $parent.$index, index, external, type)"
    class="item projects">
    <li ng-repeat="item in column.users"
        dnd-draggable="item"
        dnd-type="'user'"
        dnd-effect-allowed="copyMove"
        dnd-external-sources="true"
        dnd-selected="selectElement(column)"
        dnd-dragend="dragendElement(item, $parent.$index, $index)"
        ng-class="{'selected': columns.selected === column}"
        ng-style="{background: lightColor(item.assignmentTypes[0].color, 0.4), border: '2px solid {{item.assignmentTypes[0].color}}'}"
        context-menu="memberMenuOptions(column, item)">

        <div class="projects-item-box">
            <div class="row margin-0">
                <div>
                    <div class="avatar">
                        <img ng-if="item.avatar !== undefined && item.avatar !== '' && item.avatar !== null" ng-src="{{item.avatar}}" alt="{{item.name}}" class="avatar">
                        <span ng-if="item.avatar === undefined || item.avatar === '' || item.avatar === null" class="glyphicon glyphicon-user no-avatar"></span>
                    </div>
                    <div class="circle-box">
                        <div ng-if="item.assignmentTypes.length > 1">
                            <span ng-repeat="assignmentType in item.assignmentTypes" ng-if="$index >= 1"
                                  class="circle-item"
                                  ng-style="{background: lightColor(assignmentType.color, 0.4), border: '2px solid {{assignmentType.color}}'}"></span>
                        </div>
                    </div>
                    <div class="name-box">
                        <div class="name-label">{{item.name}} EL - {{item.engineerLevel}}</div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <p ng-if="column.users === undefined || column.users.length === 0" class="column-empty">Project is empty</p>
</ul>