<div class="search-block-title">{{currentProject.title}}</div>
<div class="member-info-block-content">
    <div class="row margin-0">
        <ul ng-if="currentProject.users.length > 0" class="member-info-ul">
            <li ng-repeat="value in currentProject.users">
                {{value.name}} <span ng-click="delProjectMember(value)" class="glyphicon glyphicon-trash control-icon-right cursor-pointer" title="Delete"></span>
            </li>
        </ul>
        <p class="empty-items" ng-if="currentProject.users === undefined || currentProject.users.length === 0">Empty</p>
    </div>
    <!--<div class="member-info-divider"></div>-->
    <!--<div class="row margin-0">-->
        <!--<span class="member-info-block-content-subtitle">Description:</span>-->
        <!--<div class="form-group editable-description">-->
            <!--<a href="#" editable-textarea="currentProject.description" e-rows="5" onbeforesave="updateProjectDescription($data)">-->
                <!--<pre>{{ currentProject.description || 'no description' }}</pre>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
</div>