<header id="ghx-header" class="aui-page-header">
    <div class="aui-page-header-main">
        <h2>Executive Transparency Report</h2>
        <form class="aui">
            <select ng-model="reportData.report.id"
                    ng-change="changeReport(reportData.report)"
                    id="change-report-element" class="select" style="width: 300px;" convert-to-number>
                <option ng-repeat="value in reports" value="{{value.id}}">{{value.title}}</option>
            </select>
            <a ng-show="isCurrentUser(reportData.report)" id="configure-page-link" ng-href="#/report/{{reportData.report.id}}/configure">
                <span class="aui-button">Configure</span>
            </a>
        </form>
    </div>
</header>
<div class="ghx-content-main">
    <div class="aui-page-panel" style="margin-top: 0;">
        <div class="aui-page-panel-inner report-element">
            <section class="aui-page-panel-content" id="ghx-content-main">
                <div class="ghx-page-panel-content-item">
                    <div id="report-element-box">
                        <div ng-if="loaderShow" class="text-center"><span class="aui-icon aui-icon-wait">Loading...</span></div>
                        <div ng-if="!loaderShow" ng-include="'scripts/controllers/report_element/report_element_data.html'"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
