<div class="modal-header">
    <h3 class="modal-title">Start task</h3>
</div>
<div ng-show="dlgLoaderShow" class="modal-body">
    <div class="text-center"><span class="aui-icon aui-icon-wait">Loading...</span></div>
</div>
<div ng-show="!dlgLoaderShow" class="modal-body">
    Are you sure want to start this task?
</div>
<div ng-show="!dlgLoaderShow" class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>