<div class="modal-header">
  <h3 class="modal-title">
      Change project for member
  </h3>
</div>
<form name="processProjectForm" ng-submit="submit()" novalidate>
  <div class="modal-body">
      <div class="form-group">
          <label for="move-type">Move type</label>
          <select class="form-control" style="width: 100%;" ng-init="model.moveType = 'move'" ng-model="model.moveType" data-placeholder="Select move type" id="move-type" name="move-type">
              <option value="move">Move</option>
              <option value="copy">Copy</option>
          </select>
      </div>
      <div class="form-group">
          <label for="member-assignment-type">Assignment type</label>
          <select class="form-control" ng-init="model.assignmentType = dlgData.item.assignmentTypes[0].id" ng-model="model.assignmentType" id="member-assignment-type" name="member-assignment-type" convert-to-number>
              <option ng-repeat="value in dlgData.assignmentTypes" value="{{value.id}}">{{value.name}}</option>
          </select>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>
