<header id="ghx-header" class="aui-page-header">
    <title>Resource Board</title>
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h2>Resource Board</h2>
        </div>
        <div class="aui-page-header-actions">
            <button class="btn btn-primary" type="submit" ng-click="processColumn()">Add column</button>
            <button class="btn btn-primary" type="submit" ng-click="addMember()">Add member</button>
        </div>
    </div>
</header>
<div class="aui-page-panel" id="manage-boards-page">
    <div class="res">
        <div class="res-left">
            <!--<div class="res-left-head">add column</div>-->
            <div class="res-left-content">

                <div class="res-left-content-top">
                    <ul class="main">
                        <li ng-repeat="(listName, list) in models.lists" class="main">
                            <h4>
                                Type {{listName}}
                                <span ng-click="delColumn()" class="glyphicon glyphicon-remove control-icon" title="Delete"></span>
                                <span ng-click="processColumn()" class="glyphicon glyphicon-pencil control-icon" title="Edit"></span>
                            </h4>
                        </li>
                    </ul>
                </div>


                <div class="res-left-content-center">
                    <ul class="main">
                        <li ng-repeat="(listName, list) in models.lists" class="main grey">

                            <div style="height: 100%;" ng-include="'views/resource_management/simple.html'"></div>

                            <!--<div class="panel panel-info">-->
                            <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">Assignment Type {{listName}}</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body" ng-include="'views/resource_management/simple.html'"></div>-->
                            <!--</div>-->
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="res-right">
            <div class="search-block" ng-if="showSearch">
                <div class="search-block-title">Quick filters:</div>

                <div class="search-block-content">
                    <div class="form-group">
                        <label for="technology">Technology</label>
                        <select ui-select2 multiple style="width: 100%;" ng-model="model.technology" data-placeholder="Select technologies" id="technology" name="technology" convert-to-number>
                            <option ng-repeat="value in technologies" value="{{value.id}}">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="project">Project</label>
                        <select ui-select2 multiple style="width: 100%;" ng-model="model.project" data-placeholder="Select projects" id="project" name="project" convert-to-number>
                            <option ng-repeat="value in projects" value="{{value.id}}">{{value.name}}</option>
                        </select>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="el">EL</label>-->
                        <!--<select ui-select2 multiple style="width: 100%;" ng-model="model.el" data-placeholder="Select administrators" id="el" name="el" convert-to-number>-->
                            <!--<option ng-repeat="value in [1, 2, 3, 4]" value="{{value}}">EL - {{value}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="location">Locations</label>
                        <select ui-select2 multiple style="width: 100%;" ng-model="model.location" data-placeholder="Select locations" id="location" name="location" convert-to-number>
                            <option ng-repeat="value in locations" value="{{value.id}}">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" ng-model="model.name">
                    </div>
                </div>

            </div>
            <div class="member-info-block" ng-if="showMemberInfo">
                <div class="search-block-title">Member info "{{currentMember.label}}"</div>
                <div class="member-info-block-content">
                    <div class="row margin-0">
                        <div class="col-md-3 avatar">
                            <span class="glyphicon glyphicon-user" style="font-size: 45px;"></span>
                        </div>
                        <div class="col-md-9" style="padding: 25px; font-weight: bold;">
                            {{currentMember.label}} <span class="member-info-block-content-el">EL - 1</span> <span class="glyphicon glyphicon-pencil control-icon-right cursor-pointer" title="Edit engineer level"></span>
                        </div>
                    </div>
                    <div class="row margin-0">
                        <span class="member-info-block-content-subtitle">
                            Experience: <span ng-class="addExperience()" class="glyphicon glyphicon-plus cursor-pointer control-icon-right" title="Add"></span>
                        </span>
                        <ul ng-if="currentMember.experiencies.length > 0" class="member-info-ul">
                            <li ng-repeat="value in currentMember.experiencies">
                                {{value.name}} <span ng-click="delExperience(value)" class="glyphicon glyphicon-trash control-icon-right" title="Delete"></span>
                            </li>
                        </ul>
                        <p class="empty-items" ng-if="currentMember.experiencies === undefined || currentMember.experiencies.length === 0">Empty</p>
                    </div>
                    <div class="member-info-divider"></div>
                    <div class="row margin-0">
                        <span class="member-info-block-content-subtitle">
                            Project:  <span ng-class="addProject()" class="glyphicon glyphicon-plus cursor-pointer control-icon-right" title="Add"></span>
                        </span>
                        <ul ng-if="currentMember.project.length > 0" class="member-info-ul">
                            <li ng-repeat="value in currentMember.projects">
                                {{value.name}} <span ng-click="delProject(value)" class="glyphicon glyphicon-trash control-icon-right cursor-pointer" title="Delete"></span>
                            </li>
                        </ul>
                        <p class="empty-items" ng-if="currentMember.projects === undefined || currentMember.projects.length === 0">Empty</p>
                    </div>
                    <div class="member-info-divider"></div>
                    <div class="row margin-0">
                        <span class="member-info-block-content-subtitle">Location:</span>
                        <div class="form-group">
                            <select class="form-control" ng-model="currentMember.location" id="member-location" name="member-location" convert-to-number>
                                <option ng-repeat="value in locations" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="member-info-divider"></div>
                    <div class="row margin-0">
                        <span class="member-info-block-content-subtitle">Assignment type:</span>
                        <div class="form-group">
                            <select class="form-control" ng-model="currentMember.assignmentType" id="member-assignment-type" name="member-assignment-type" convert-to-number>
                                <option ng-repeat="value in assignmentTypes" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="member-info-divider"></div>
                    <div class="row margin-0">
                        <span class="member-info-block-content-subtitle">
                            Attachments: <span class="glyphicon glyphicon-download-alt cursor-pointer control-icon-right" title="Upload attach"></span>
                        </span>
                        <ul ng-if="currentMember.attach.length > 0" class="member-info-ul without-list-style-type">
                            <li ng-repeat="value in currentMember.attach">
                                <span class="glyphicon glyphicon-file"></span> {{value.name}} <span ng-click="delAttach(value)" class="glyphicon glyphicon-trash control-icon-right cursor-pointer" title="Delete"></span>
                            </li>
                        </ul>
                        <p class="empty-items" ng-if="currentMember.attach === undefined || currentMember.attach.length === 0">Empty</p>
                    </div>
                    <div class="member-info-divider"></div>
                    <div class="row margin-0">
                        <span class="member-info-block-content-subtitle">Description:</span>
                        <div class="form-group editable-description">
                            <!--<textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Description"></textarea>-->
                            <a href="#" editable-textarea="currentMember.description" e-rows="5" onbeforesave="updateMemberDescription($data)">
                                <pre>{{ currentMember.description || 'no description' }}</pre>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<header id="ghx-header" class="aui-page-header">-->
    <!--<title>Resource Board</title>-->
    <!--<div class="aui-page-header-inner">-->
        <!--<div class="aui-page-header-main">-->
            <!--<h2>Resource Board</h2>-->
        <!--</div>-->
        <!--<div class="aui-page-header-actions">-->
            <!--&lt;!&ndash;<button class="btn btn-primary" type="submit" ng-click="inviteUser()" >Invite user</button>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->
<!--<div id="ghx-content-main" class="ghx-content-main">-->
    <!--<div class="aui-page-panel" id="manage-boards-page">-->
        <!--<div class="aui-page-panel-inner">-->
            <!--&lt;!&ndash; .aui-page-panel-nav &ndash;&gt;-->
            <!--<section class="aui-page-panel-content">-->
                <!--<div class="ghx-boards-list">-->
                    <!--&lt;!&ndash;<form class="aui" style="margin: 20px 0;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input ng-model="query" id="search-by-name" type="text" placeholder="Find a issue" class="text" style="width: 250px;"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</form>&ndash;&gt;-->
                    <!--<div id="report-box">-->


                        <!--<style>-->
                            <!--.assignments-type-wrap {-->
                                <!--width: 100%;-->
                                <!--overflow-x: auto;-->
                                <!--overflow-y: hidden;-->
                            <!--}-->

                            <!--.assignments-type-wrap ul.main {-->
                                <!--min-width: 100%;-->
                                <!--white-space: nowrap;-->
                                <!--padding: 0;-->
                            <!--}-->

                            <!--.assignments-type-wrap li.main {-->
                                <!--display: inline-block;-->
                                <!--vertical-align: top;-->
                                <!--width: 200px;-->
                                <!--min-height: 200px;-->
                                <!--margin-right: 20px;-->
                            <!--}-->

                            <!--.assignments-type-wrap-right {-->
                                <!--width: 100%;-->
                            <!--}-->
                        <!--</style>-->

                        <!--<div class="simpleDemo row">-->
                            <!--<div class="col-lg-10 col-md-9">-->
                                <!--<div class="assignments-type-wrap">-->
                                    <!--<ul class="main">-->
                                        <!--<li ng-repeat="(listName, list) in models.lists" class="main">-->
                                            <!--<div class="panel panel-info">-->
                                                <!--<div class="panel-heading">-->
                                                    <!--<h3 class="panel-title">Assignment Type {{listName}}</h3>-->
                                                <!--</div>-->
                                                <!--<div class="panel-body" ng-include="'views/resource_management/simple.html'"></div>-->
                                            <!--</div>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-lg-2 col-md-3">-->
                                <!--<div class="assignments-type-wrap-right">-->

                                    <!--<div class="panel panel-default">-->
                                        <!--<div class="panel-heading">-->
                                            <!--<h3 class="panel-title">User info</h3>-->
                                        <!--</div>-->
                                        <!--<div class="panel-body">-->
                                            <!--<div ng-if="!models.selected">Need select user</div>-->
                                            <!--<div ng-if="models.selected">-->
                                                <!--<p>label: {{models.selected.label}}</p>-->
                                                <!--<p>project: {{models.selected.project}}</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<h3 class="panel-title">Generated Model</h3>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<pre class="code">{{modelAsJson}}</pre>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
            <!--&lt;!&ndash; .aui-page-panel-content &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->