<div class="search-block-title">Member: "{{currentMember.name}}"  <span ng-click="delMember()" class="glyphicon glyphicon-trash control-icon-right cursor-pointer" title="Remove member"></span></div>
<div class="member-info-block-content">
    <div class="row margin-0">
        <div class="col-md-3 avatar">

            <img ng-if="currentMember.avatar !== undefined && currentMember.avatar !== '' && currentMember.avatar !== null" ng-src="{{currentMember.avatar}}" alt="{{currentMember.name}}" class="avatar-member-info">
            <span ng-if="currentMember.avatar === undefined || currentMember.avatar === '' || currentMember.avatar === null" class="glyphicon glyphicon-user" style="font-size: 45px;"></span>

            <!--<span class="glyphicon glyphicon-user" style="font-size: 45px;"></span>-->
        </div>
        <div class="col-md-9" style="padding: 25px; font-weight: bold;">
            <div>{{currentMember.name}}</div>
            <div><span class="member-info-block-content-el">EL - {{currentMember.engineerLevel}}</span> <span ng-click="changeLevel()" class="glyphicon glyphicon-pencil control-icon-right cursor-pointer" title="Edit engineer level"></span></div>
        </div>
    </div>
    <div class="row margin-0">
        <span class="member-info-block-content-subtitle">
            Experience: <span ng-click="addExperience()" class="glyphicon glyphicon-plus cursor-pointer control-icon-right" title="Add"></span>
        </span>
        <ul ng-if="currentMember.technologies.length > 0" class="member-info-ul">
            <li ng-repeat="value in currentMember.technologies">
                {{value.name}} <span ng-click="delExperience(value)" class="glyphicon glyphicon-trash control-icon-right cursor-pointer" title="Delete"></span>
            </li>
        </ul>
        <p class="empty-items" ng-if="currentMember.technologies === undefined || currentMember.technologies.length === 0">Empty</p>
    </div>
    <div class="member-info-divider"></div>
    <div class="row margin-0">
        <span class="member-info-block-content-subtitle">
            Project:  <span ng-click="addMemberProject()" class="glyphicon glyphicon-plus cursor-pointer control-icon-right" title="Add"></span>
        </span>
        <ul ng-if="currentMember.projects.length > 0" class="member-info-ul">
            <li ng-repeat="value in currentMember.projects">
                {{value.name}} <span ng-click="delMemberProject(value)" class="glyphicon glyphicon-trash control-icon-right cursor-pointer" title="Delete"></span>
            </li>
        </ul>
        <p class="empty-items" ng-if="currentMember.projects === undefined || currentMember.projects.length === 0">Empty</p>
    </div>
    <div class="member-info-divider"></div>
    <div class="row margin-0">
        <span class="member-info-block-content-subtitle">Location:</span>
        <div class="form-group">
            <select ng-change="chnageMemberInfoData('location')" class="form-control" ng-model="currentMember.location.id" id="member-location" name="member-location" convert-to-number>
                <option ng-repeat="value in locations" value="{{value.id}}">{{value.name}}</option>
            </select>
        </div>
    </div>
    <div class="member-info-divider"></div>
    <div class="row margin-0">
        <span class="member-info-block-content-subtitle">Assignment type:</span>
        <div class="form-group">
            <select ng-change="chnageMemberInfoData('assignmentType')" class="form-control" ng-init="model.memberAssignmentTypeId = currentMember.column.id" ng-model="model.memberAssignmentTypeId" id="member-assignment-type" name="member-assignment-type" convert-to-number>
                <option ng-repeat="value in assignmentTypes" value="{{value.id}}">{{value.name}}</option>
            </select>
        </div>
    </div>
    <div class="member-info-divider"></div>
    <div class="row margin-0">
        <span class="member-info-block-content-subtitle">
            Attachments: <span ng-click="uploadAttach()" class="glyphicon glyphicon-download-alt cursor-pointer control-icon-right" title="Upload attach"></span>
        </span>
        <ul ng-if="currentMember.attachments.length > 0" class="member-info-ul without-list-style-type">
            <li ng-repeat="value in currentMember.attachments">
                <span class="glyphicon glyphicon-file"></span> <a ng-href="{{value.url}}">{{value.name}}</a> <span ng-click="delAttach(value)" class="glyphicon glyphicon-trash control-icon-right cursor-pointer" title="Delete"></span>
            </li>
        </ul>
        <p class="empty-items" ng-if="currentMember.attachments === undefined || currentMember.attachments.length === 0">Empty</p>
    </div>
    <div class="member-info-divider"></div>
    <div class="row margin-0">
        <span class="member-info-block-content-subtitle">Description:</span>
        <div class="form-group editable-description">
            <!--<textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Description"></textarea>-->
            <a href="#" editable-textarea="currentMember.description" e-rows="5" onbeforesave="updateMemberDescription($data)">
                <pre>{{ currentMember.description || 'no description' }}</pre>
            </a>
        </div>
    </div>
</div>