<div class="search-block-title">Quick filters:</div>
<div class="search-block-content">
    <div class="form-group">
        <label for="technology">Technology</label>
        <select ui-select2 multiple style="width: 100%;"
                ng-model="search.technology"
                data-placeholder="Select technologies"
                id="technology"
                name="technology">
            <option ng-repeat="value in technologies" value="{{value.id}}">{{value.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="project">Project</label>
        <select ui-select2 multiple style="width: 100%;" ng-model="search.project" data-placeholder="Select projects" id="project" name="project">
            <option ng-repeat="value in projects" value="{{value.id}}">{{value.name}}</option>
        </select>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="el">EL</label>-->
        <!--<select ui-select2 multiple style="width: 100%;" ng-model="model.el" data-placeholder="Select administrators" id="el" name="el" convert-to-number>-->
            <!--<option ng-repeat="value in [1, 2, 3, 4]" value="{{value}}">EL - {{value}}</option>-->
        <!--</select>-->
    <!--</div>-->
    <div class="form-group">
        <label for="location">Locations</label>
        <select ui-select2 multiple style="width: 100%;" ng-model="search.location" data-placeholder="Select locations" id="location" name="location">
            <option ng-repeat="value in locations" value="{{value.id}}">{{value.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" ng-model="search.name">
    </div>
</div>