<ul dnd-list="list" class="item">
    <li ng-repeat="item in list"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="selectElement(item)"
        dnd-dragend="logEvent('Drag operation ended', event)"
        ng-class="{'selected': models.selected === item}"
            >


        <div style="border-left: 8px solid dodgerblue;">
            <div class="row margin-0">
                <div class="col-md-3 avatar">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="col-md-9">
                    <div class="name-label">{{item.label}}</div>
                    <div class="engineer-lvl-label">EL - 1</div>
                </div>
            </div>

            <div class="row margin-0">
                <div class="technologies-label">technologies</div>
                <!--<div class="technologies-label"><i>project:</i> <span class="aui-lozenge aui-lozenge-{{item.project}}">{{item.project}}</span></div>-->
            </div>
        </div>


    </li>
</ul>